/* FOOTER */
.footer {
    background-color: #203455;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 80px;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;

    .lista {
        display: inline;
        margin-top: 25px;
        padding-left: 25px;
    }
}