/* XXL 1400px */
@media (max-width:1400px) {

    /* INDEX */
    main {
        .titulos {
            margin-left: 520px;
            text-align: center;
        }

        h2 {
            margin-left: 150px;
        }

        img {
            max-width: 1200px;
            margin-left: 100px;

        }
    }

    /* GAMING */
    .presentacion {
        .titulosGaming {
            margin-left: 480px;
        }

        .GamingImg {
            margin-left: 100px;
        }
    }

    .ImagenPlay {
        margin-left: -252px;
    }

    .ImagenMove {
        margin-left: -252px;
    }

    .productosUno {
        margin-left: 475px;
    }

    .productosDos {
        margin-left: 300px;
    }

    .productosTres {
        margin-left: 850px;
    }

    .productosCuatro {
        margin-left: 850px;
    }

    .Info {
        margin-left: 325px;
    }

    .InfoDos {
        margin-left: 925px;
    }

    .InfoTres {
        margin-left: 325px;
    }

    .InfoCuatro {
        margin-left: 925px;
    }

    .seccionDos {
        .texto {
            margin-left: 100px;
        }

        .textoDos {
            margin-left: 105px;

        }

        .imagenCuatro {
            margin-left: 100px;
        }
    }

    /* CAMARAS */
    .presentacion {
        p {
            margin-left: 145px;
        }

        .camarasImg {
            margin-left: 100px;
        }

        .subTitulo {
            margin-left: 115px;
        }
    }

    .P-Opticas {
        margin-left: 550px;
    }

    .P-Reflex {
        margin-left: 250px;
    }

    .P-Iluminacion {
        margin-left: 180px;
    }

    .seccionDos {
        .textoGoPro {
            margin-left: 775px;
        }

        .textoDosGo {
            margin-left: 750px;
        }
    }

    /* SMARTPHONE */
    .SmartImg {
        max-width: 1200px;
        margin-left: 100px;
    }

    .presentacion .titulosSmart {
        margin-left: 520px;
    }

    .Celulares {
        margin-left: 100px;
    }

    .grillaSmart {
        margin-left: -252px;
    }

    .SmartFooter {
        .imagenSmartFooter {
            margin-left: 100px;
        }
    }

    /* QUIENES SOMOS */
    .QuienesS {
        margin-left: 100px;
    }

    /*CONTACTO*/
    .fondoContacto {
        margin-left: 100px;
    }


}

/* XL 1200px */
@media (max-width:1200px) {

    /* INDEX */
    main {
        .titulos {
            margin-left: 420px;
            text-align: center;
        }

        h2 {
            margin-left: 65px;
        }

        img {
            max-width: 1200px;
            margin-left: 0px;
        }

    }

    /*GAMING*/
    .presentacion {
        .titulosGaming {
            margin-left: 350px;
        }

        .GamingImg {
            margin-left: 0px;
        }
    }

    .productosUno {
        margin-left: 480px;
    }

    .ImagenPlay {
        margin-left: -352px;
    }

    .productosDos {
        margin-left: 200px;
    }

    .ImagenMove {
        margin-left: -352px;
    }

    .productosTres {
        margin-left: 750px;
    }

    .P-Reflex {
        margin-left: 220px;
    }

    .productosCuatro {
        margin-left: 750px;
    }

    .P-Iluminacion {
        margin-left: 200px;
    }

    .seccionDos .texto {
        margin-left: 0px;
    }

    .seccionDos .textoDos {
        margin-left: 5px;
    }

    .Info {
        margin-left: 225px;
    }

    .InfoDos {
        margin-left: 825px;
    }

    .InfoTres {
        margin-left: 225px;
    }

    .InfoCuatro {
        margin-left: 825px;
    }

    .seccionDos {
        .textoGoPro {
            margin-left: 650px;
        }

        .textoDosGo {
            margin-left: 620px;
        }

        .imagenCuatro {
            margin-left: 0px;
        }
    }

    /*SMARTPHONE*/
    .SmartImg {
        max-width: 1200px;
        margin-left: 0px;
    }

    .presentacion .titulosSmart {
        margin-left: 420px;
        text-align: center;
    }

    .Celulares {
        max-width: 1200px;
        margin-left: 0px;
    }

    .grillaSmart {
        margin-left: -352px;
    }

    .SmartFooter {
        .imagenSmartFooter {
            margin-left: 0px;
        }
    }

    /*CAMARAS*/
    .presentacion {

        .camarasImg {
            margin-left: 0px;
        }
    }

    .P-Opticas {
        margin-left: 550px;
    }

    /*QUIENES SOMOS*/
    .QuienesS {
        margin-left: 0px;
    }

    /*CONTACTO*/
    .fondoContacto {
        margin-left: 0px;
    }
}

@media (max-width:992px) {

    /*INDEX*/
    main {
        .titulos {
            margin-left: 320px;
        }

        h2 {
            font-size: 50px;
        }

        img {
            max-width: 995px;
        }
    }

    /* GAMING */

    .presentacion {
        .titulosGaming {
            margin-left: 245px;
        }

        .GamingImg {
            max-width: 992px;
        }
    }

    .ImagenPlay img {
        max-width: 400px;
    }

    .productosUno {
        margin-left: 400px;
        margin-top: -500px;
    }

    .ImagenControl img {
        max-width: 400px;
        margin-left: 100px;
    }

    .productosTres {
        margin-left: 670px;
    }

    .ImagenMove img {
        max-width: 400px;
    }

    .productosDos {
        margin-left: 100px;
        margin-top: 580px;
    }

    .Imagen img {
        max-width: 400px;
        margin-left: 100px;
    }

    .productosCuatro {
        margin-left: 630px;
        margin-top: 580px;
    }

    .Info {
        margin-top: 450px;
        margin-left: 125px;
    }

    .InfoDos {
        margin-top: 450px;
        margin-left: 650px;
    }

    .InfoTres {
        margin-top: 1000px;
        margin-left: 125px;
    }

    .InfoCuatro {
        margin-top: 1000px;
        margin-left: 650px;
    }

    .seccionDos {
        .imagenCuatro {
            max-width: 992px;
        }

    }

    /*SMARTPHONE*/
    .SmartImg {
        max-width: 992px;
    }

    .presentacion .titulosSmart {
        margin-left: 320px;
    }

    .Celulares img {
        max-width: 200px;
        margin-left: 95px;
    }

    .NombreCelularUno {
        font-size: 15px;
        margin-top: -10px;
    }

    .SubLoremUno {
        display: none;
    }

    .NombreCelularDos {
        font-size: 15px;
        margin-top: -10px;
        margin-left: 420px;
    }

    .SubLoremDos {
        display: none;
    }

    .NombreCelularTres {
        font-size: 15px;
        margin-top: -10px;
        margin-left: 730px;
    }

    .SubLoremTres {
        display: none;
    }

    .grillaSmart .CeluGrilla {
        max-width: 400px;
        margin-top: 20px;
    }

    .SmartUno .Infinit {
        font-size: 30px;
        margin-left: 535px;
    }

    .SmartUno .LoremInfinit {
        margin-left: 535px;
    }

    .btn-Smart {
        margin-left: 220px;
    }

    .SmartDos .CeluGrillaDos {
        max-width: 400px;
        margin-left: 570px;
    }

    .Xperia {
        font-size: 30px;
        margin-top: -525px;
    }

    .LoremXperia {
        margin-left: 25px;
    }

    .btn-SmartDos {
        margin-left: -755px;
    }

    .imagenSmartFooter {
        max-width: 992px;
    }

    /*CAMARAS*/
    .presentacion .camarasImg {
        max-width: 992px;
    }

    .P-Opticas {
        margin-left: 450px;
        margin-top: -500px;

    }

    .P-Iluminacion {
        margin-top: -500px;
        margin-left: 175px;
    }

    .P-Reflex {
        margin-top: -490px;
        margin-left: 220px;
    }

    .btn-nuevo {
        margin-top: 440px;
        margin-left: -280px;
    }

    .btn-nuevoBlanco {
        margin-top: 440px;
        margin-left: -280px;
    }

    .seccionDos {
        .textoGoPro {
            font-size: 40px;
            margin-left: 620px;
        }

        .textoDosGo {
            font-size: 20px;
        }
    }

    /*QUIENES SOMOS*/
    iframe {
        max-width: 992px;
    }

    .QuienesS .QuienesLorem {
        margin-left: 160px;
    }
}

/* MD 768px */
@media (max-width:768px) {

    /*INDEX*/

    main {

        .titulos {
            font-size: 64px;
            margin-left: 250px;
            margin-top: 160px;
        }

        h2 {
            margin-top: 210px;
            font-size: 40px;
            margin-left: 35px;
        }

        img {
            max-width: 768px;
            margin-left: 0px;
        }
    }

    /*GAMING*/
    .presentacion {
        .GamingImg {
            max-width: 768px;
        }

        .titulosGaming {
            font-size: 30px;
            margin-left: 250px;
        }
    }

    .ImagenPlay img {
        max-width: 300px;

    }

    .productosUno {
        font-size: 35px;
        margin-left: 355px;
        margin-top: -370px;
    }

    .ImagenControl img {
        max-width: 300px;
        margin-left: 80px;
    }

    .productosTres {
        font-size: 35px;
        margin-top: 25px;
        margin-left: 515px;
    }

    .ImagenMove img {
        max-width: 300px;

    }

    .productosDos {
        font-size: 35px;
        margin-left: 60px;
        margin-top: 425px;
    }

    .Imagen img {
        max-width: 300px;
        margin-left: 80px;
    }

    .productosCuatro {
        font-size: 35px;
        margin-top: 425px;
        margin-left: 515px;
    }

    .Info {
        margin-top: 320px;
        margin-left: 80px;
    }

    .InfoDos {
        margin-top: 320px;
        margin-left: 540px;
    }

    .InfoTres {
        margin-top: 720px;
        margin-left: 80px;
    }

    .InfoCuatro {
        margin-top: 720px;
        margin-left: 540px;
    }

    .seccionDos {
        .imagenCuatro {
            max-width: 768px;
        }

        .texto {
            font-size: 45px;
        }

        .textoDos {
            font-size: 15px;
        }
    }

    /*SMARTPHONES*/
    .SmartImg {
        max-width: 768px;
    }

    .presentacion .titulosSmart {
        margin-left: 190px;
        margin-top: -25px;
    }

    .Celulares img {
        max-width: 140px;
        margin-left: 80px;
    }

    .NombreCelularUno {
        margin-left: 75px;
    }

    .NombreCelularDos {
        margin-left: 300px;
    }

    .NombreCelularTres {
        margin-left: 530px;
    }

    .SmartUno .Infinit {
        font-size: 20px;
        margin-left: 500px;
        margin-top: -540px;
    }

    .LoremInfinit {
        font-size: 15px;
        margin-right: 25px;
    }

    .btn-Smart {
        margin-left: 100px;
    }

    .SmartDos .CeluGrillaDos {
        margin-left: 350px;
    }

    .Xperia {
        font-size: 20px;
        margin-left: 85px;
    }

    .LoremXperia {
        font-size: 15px;
    }

    .btn-SmartDos {
        margin-left: -680px;
    }

    .SmartFooter {
        .imagenSmartFooter {
            max-width: 768px;
        }
    }

    /*CAMARAS*/
    .presentacion {
        .camarasImg {
            max-width: 768px;
        }

        .titulosCamaras {
            font-size: 40px;
        }

        .subTitulo {
            font-size: 15px;
            margin-left: 135px;
        }
    }

    .grillaImg {
        .P-Reflex {
            margin-left: 180px;
            margin-top: -370px;
        }

        .P-Analogicas {
            margin-left: 400px;
        }

        .P-Iluminacion {
            margin-left: 140px;
            margin-top: -370px;
        }

        .P-Opticas {
            margin-left: 400px;
            margin-top: -370px;
        }

        .btn-nuevo {
            margin-top: 350px;
            margin-left: -230px;
        }

        .btn-nuevoBlanco {
            margin-top: 350px;
            margin-left: -230px;
        }
    }

    .seccionDos {
        .textoGoPro {
            font-size: 40px;
            margin-left: 450px;
        }

        .textoDosGo {
            font-size: 15px;
            margin-left: 430px;
        }
    }

    /*QUIENES SOMOS*/
    iframe {
        max-width: 768px;
    }

    .QuienesS .QuienesLorem {
        margin-left: 40px;
    }
}

/* SM 576px */
@media (max-width:576px) {

    /* INDEX */

    main {
        .titulos {
            font-size: 54px;
            margin-left: 180px;
        }

        h2 {
            font-size: 30px;
            margin-left: 25px;
        }

        img {
            max-width: 577px;
        }
    }

    /*GAMING*/
    .presentacion {
        .GamingImg {
            max-width: 100%;
        }

        .titulosGaming {
            font-size: 20px;
            margin-left: 200px;
        }
    }

    .ImagenPlay img {
        max-width: 250px;

    }

    .productosUno {
        font-size: 25px;
        margin-left: 385px;
        margin-top: -340px;
    }

    .ImagenControl img {
        max-width: 250px;
        margin-left: 40px;
    }

    .productosTres {
        font-size: 25px;
        margin-top: 0px;
        margin-left: 380px;
    }

    .ImagenMove img {
        max-width: 250px;

    }

    .productosDos {
        font-size: 25px;
        margin-left: 60px;
        margin-top: 340px;
    }

    .Imagen img {
        max-width: 250px;
        margin-left: 40px;
    }

    .productosCuatro {
        font-size: 25px;
        margin-top: 340px;
        margin-left: 370px;
    }

    .Info {
        
        margin-top: 290px;
        margin-left: 40px;
    }

    .InfoDos {
        margin-top: 290px;
        margin-left: 370px;
    }

    .InfoTres {
        margin-top: 620px;
        margin-left: 50px;
    }

    .InfoCuatro {
        margin-top: 620px;
        margin-left: 370px;
    }

    .seccionDos {
        .imagenCuatro {
            max-width: 100%;
        }

        .texto {
            font-size: 45px;
        }

        .textoDos {
            font-size: 15px;
        }
    }

}